@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
html,body{
    background: #ea6c5d;
    font-family: 'Poppins', sans-serif;
}
::selection{
    color: #ea6c5d;
    background: #6665ee;
}
.cont1{
    
    
    top: 50px;
    left: 50px;
    transform: translate(-50px, -50px);
}
.cont1 .form{
    box-sizing: border-box;
    background: #fff;
    top: 150px;
    left: 50px;
     padding: 30px 35px;
    border-radius: 5px;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.cont1 .form form .form-control{
    
    height: 40px;
    font-size: 15px;
}
.cont1 .form form .forget-pass{
    margin: -15px 0 15px 0;
}
.cont1 .form form .forget-pass a{
   font-size: 15px;
}
.cont1 .form form .button{
    background: #5556ee;
    color: #fff;
    font-size: 17px;
    font-weight: 500;
    transition: all 0.3s ease;
}
.cont1 .form form .button:hover{
    background: #ea6c5d;
}
.cont1 .form form .link{
    padding: 5px 0;
}
.cont1 .form form .link a{
    color: #ea6c5d;
}
.cont1 .login-form form p{
    font-size: 14px;
}
.cont1 .row .alert{
    font-size: 14px;
}
